
  :root{
    --primery-brand-color:#4D5AE5;
    --title-text-color: #2E2F42;
    --description-text-color: #434455;
    --title-text-light-color: #FFFFFF;
    --card-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);   
  }
  h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;}


    body {
     font-family: 'Roboto', sans-serif;
     background-color: var(--title-text-light-color);}

     .container {
      margin-left: auto;
      margin-right: auto;
      width: 1158px;
      padding-left: 15px;
      padding-right: 15px;
      margin: 0 auto;
    }
    img{
      display: block;
      max-width: 100%;
      height: auto;}
     
  



*{
  box-sizing: border-box;
}

.link{
  text-decoration: none;
 }
.list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.nav-list{
  display: flex;
  margin-left: 78px;
}
  
   /* outline: solid 2px ;  */
   /* background-color: var(--title-text-light-color) */
  
  .header{
   border-bottom: 1px solid #E7E9FC;
   box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  .main-nav{
   display:flex;
   align-items:center; 
   justify-content: center;
  }

  header
   {
    
   padding-top: 24px;
    padding-bottom: 24px; }
 
 
.logo{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: calc(24/18);
color:var(--title-text-color);
text-transform: uppercase;
}

.first-part-logo{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 1.3;
color:var(--primery-brand-color)
}

.nav-link{
width: 48px;
height: 24px;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--title-text-color);
 display: inline; 
 padding-top: 24px;
 padding-bottom: 24px;
 }

.nav-link:hover,
.nav-link:focus { 
  color: var(--primery-brand-color);
}

.nav-item{
 outline:1px;
 margin-right: 40px;
 display: block;
 
}

.nav-item:last-child{
  margin-right: 0;
}

.nav-list-cn{
 display:flex;
 margin-left: auto;
}
.nav-list-cn +.item+ .item{
  margin-left: 40px;
}
.nav-mailto{
  outline:1px solid ;
  margin-right: 40px;
  background: #4D5AE5;
  
}
.header-em{
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color:var(--description-text-color);

}
 .header-tel{
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color:var(--description-text-color)
 }

 .hero {
  padding-top: 192px;
  padding-bottom: 192px;
  background: var(--title-text-color);
  text-align: center;
 }
 .hero-title{
  color:var(--title-text-light-color);  
  font-weight: 600;
  font-size: 54px;
  line-height: calc(60/56);
  letter-spacing: 0.02em;
  width: 492px;

  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
 }
 .hero-btn{
  
font-weight: 700;
font-size: 16px;
line-height:calc(19/16) ;
letter-spacing: 0.04em;
border-radius: 4px;
cursor: pointer;
background-color: var(--primery-brand-color);
color:var(--title-text-light-color);
padding:16px 32px;
border: none;

 }

 /* benefits */
 .benefits {
  padding-top: 120px;
  padding-bottom: 120px;
 }
 .benefits-list {
  display: flex;
  justify-content: center;
  
   
 }
 .benefits-list .benefits-item + .benefits-item { 
  margin-left: 24px;
 }
 
 .benefits-title{
 margin-bottom: 8px;
font-weight: 700;
font-size: 20px;
line-height: calc(24/20);
letter-spacing: 0.02em;
color:var(--title-text-color);

 }

.benefits-text{
  font-weight: 400;
font-size: 16px;
line-height:calc(24/16);
letter-spacing: 0.02em;
color: var(--description-text-color);
width: 264px;
}

/* examples */
.examples{
  /* padding-bottom: 238px; */
   padding-bottom: 120px; 
}

.examples-list{
  display: flex;
  align-items:center; 
   justify-content: center;

}
.examples-list .examples-item + .examples-item {
  margin-left: 24px;
}
.examples-title{
font-weight: 700;
font-size: 36px;
line-height:40px;
text-align: center;
letter-spacing: 0.02em;
color: var(--title-text-color);
margin-bottom: 72px;


}
/* our-team */
.our-team{
  
  padding-bottom: 120px;
  background: white; 
}
.our-team-title{
  font-weight: 700;
  font-size: 36px;
  line-height:calc(40/36);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;

}
 
/* .our-team-list{ */
.our-team{
  background: #F4F4FD;
   padding-top: 120px;
}

/* CARD-SET */
.card{
  box-shadow: var(--card-shadow);
 border-radius:  0px 0px 4px 4px;
  overflow: hidden;
  background-color: #FFFFFF;
}
.our-team-list{
  outline: none;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;


}

.our-team-list .our-team-item + .our-team-item {
  margin-left: 24px;
}

/* .our-team-list > .our-team-item{
  outline: 1px solid none;
  flex-basis: cal(100% / 4 - 24px );
  margin-left: 24px;
  
} */
/* .card-thumb{
  outline: solid ;
}

.our-team-item *{
outline: solid ;
} */
/* .our-team-item{
/* url(man-with-laptop-presenting-something.jpg); */
/* mix-blend-mode: normal;
flex: none;
order: 0;
flex-grow: 0; }*/

.our-team-name{
  font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--title-text-color);
text-align: center;

}
.card-content{
  padding: 32px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
background: #FFFFFF;
}
.our-team-text{
  font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--description-text-color);
text-align: center;

}

.p{
  /* color:none; */
  font-size: 20px;
}
.portfolio{
  padding-top:96px ;
  padding-bottom:120px ;
  
}
.portfolio-nav{
 margin-bottom: 72px;
}

.portfolio-btn-list{

  display:flex;
  gap:24px;
  justify-content: center;
  
}


.portfolio-btn{ 
font-weight: 700;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
cursor: pointer;
padding-top: 96px;
border: none;
padding: 12px 24px;
letter-spacing: 0.04em;
border-radius: 4px;
 background-color: #E7E9FC; 
 color: var(--primery-brand-color); 


 }
  
.portfolio-btn:hover,
.portfolio-btn:focus { 
color:var(--title-text-light-color);
background:var(--primery-brand-color);}

.card-content-portfolio{
  
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 1px solid #E7E9FC;
  border-top: none;

}

.portfolio-list{
  display: flex;
  flex-wrap: wrap;
  gap:24px;
  row-gap:48px;

}

  .portfolio-list {
    flex-basis: calc((100% - 48px)/ 3);
 }
 
.portfolio-item{
  box-shadow:var(--card-shadow);
}

.portfolio-title{
font-weight: 700;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--title-text-color);
margin-bottom: 8px;
}
.portfolio-text{

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--description-text-color);
}

/* footer */
.footer{

padding-top: 100px;
padding-bottom: 100px;

  background: var(--title-text-color);


}
.logo-footer{
  color:var(--title-text-light-color);
  font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: calc(24/18);
margin-top: 100px;
text-transform: uppercase;
}
.footer-text{
  font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--title-text-light-color);
width: 264px;
margin-top: 16px;
}


