
  :root{
    --primery-brand-color:#4D5AE5;
    --primery-brand-color-dark:#404BBF;
    --success-messages:#31D0AA;
    --title-text-color: #2E2F42;
    --description-text-color: #434455;
    --title-text-light-color: #FFFFFF;
    --body-background-color: #f5f5f5;
    --icons-bcg-color: #F4F4FD;
    --card-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);   
    --head-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    --hero-btn-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;}


    body {
     font-family: 'Roboto', sans-serif;
     background-color: var(--title-text-light-color);
    }

     .container {
      margin-left: auto;
      margin-right: auto;
      width: 1158px;
      padding-left: 15px;
      padding-right: 15px;
      margin: 0 auto;
    }
    img{
      display: block;
      max-width: 100%;
      height: auto;}
     

*{
  box-sizing: border-box;
}

.link{
  text-decoration: none;
 }
.list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.nav-list{
  display: flex;
  margin-left: 78px;
}
  
  .header{
   border-bottom: 1px solid #E7E9FC;
   box-shadow:var(--head-shadow);
  }
  .main-nav{
   display:flex;
   align-items:center; 
   justify-content: center;
  }

  .header{
   padding-top: 24px;
   padding-bottom: 24px; }

   .header-em:hover,
   .header-em:focus {
    color:var(--primery-brand-color);
   }
   .header-tel:hover,
   .header-tel:focus {
    color:var(--primery-brand-color);
   }

.logo{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: calc(24/18);
color:var(--title-text-color);
text-transform: uppercase;
}

.first-part-logo{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 1.3;
color:var(--primery-brand-color);
}

.nav-link{
width: 48px;
height: 24px;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--title-text-color);
 display: inline; 
 padding-top: 24px;
 padding-bottom: 24px;
 }

.nav-link:hover,
.nav-link:focus { 
  color: var(--primery-brand-color);
}

.nav-item{
 outline:1px;
 margin-right: 40px;
 display: block;
 
}

.nav-item:last-child{
  margin-right: 0;
}

.nav-list-cn{
 display:flex;
 margin-left: auto;
}
.nav-list-cn +.item+ .item{
  margin-left: 40px;
}
.nav-mailto{
  outline:1px solid ;
  margin-right: 40px;
  background:var(--primery-brand-color);
  
}
.header-em{

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color:var(--description-text-color);

}
 .header-tel{

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color:var(--description-text-color)
 }
 

 .hero {
  padding-top: 192px;
  padding-bottom: 192px;
  background: var(--title-text-color);
  text-align: center;
  background-image:linear-gradient(to right,rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),
  url(../img/hero-image/people-office\ 1\ \(2\).jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  margin: auto;
  max-width: 1440px;
  height: 600px;
 }

.overlay{
  max-width: 1600px;
  height: 600px;
  outline: 1px solid black;
}

 .hero-title{
  color:var(--title-text-light-color);  
  font-weight: 600;
  font-size: 54px;
  line-height: calc(60/56);
  letter-spacing: 0.02em;
  width: 492px;

  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  
 }
 .hero-btn{
  
font-weight: 500;
font-size: 16px;
line-height:calc(19/16) ;
letter-spacing: 0.04em;
border-radius: 4px;
cursor: pointer;
background-color: var(--primery-brand-color);
color:var(--title-text-light-color);
padding:16px 32px;
border: none;
 
}
.hero-btn:hover{
  background-color:var(--primery-brand-color-dark) ;
  box-shadow:var(--hero-btn-shadow);
}

 /* Benefits */

 .benefits {
  padding-top: 120px;
  padding-bottom: 120px;
 }
 .benefits-list {
  display: flex;
  gap: 24px;
 
 
 }
 .benefits-wrap{
  display:flex;
  height: 112px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color:var(--icons-bcg-color);
  
 }
 .benefits-icon{
  position: relative;
 }

 .benefits-item{
  width: calc((100% - 72px) / 4);
 }
 .benefits-text{
  margin-top: 8px;
 }
 .benefits-title{
  margin-top: 8px;
 margin-bottom: 8px;
font-weight: 700;
font-size: 20px;
line-height: calc(24/20);
letter-spacing: 0.02em;
color:var(--title-text-color);

 }

.benefits-text{
  font-weight: 400;
font-size: 16px;
line-height:calc(24/16);
letter-spacing: 0.02em;
color: var(--description-text-color);
width: 264px;
}


.examples{
 
   padding-bottom: 120px; 
}

.examples-list{
  display: flex;
  align-items:center; 
   justify-content: center;

}
.examples-list .examples-item + .examples-item {
  margin-left: 24px;
}
.examples-title{
font-weight: 700;
font-size: 36px;
line-height:40px;
text-align: center;
letter-spacing: 0.02em;
color: var(--title-text-color);
margin-bottom: 72px;


}
/* Our-team */

.our-team{
  padding-top: 120px;
  padding-bottom: 120px;
  background:var(--icons-bcg-color);
}
.our-team-title{
  font-weight: 700;
  font-size: 36px;
  line-height:calc(40/36);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;

}

/* CARD-SET */
.card{
  box-shadow: var(--card-shadow);
 border-radius:  0px 0px 4px 4px;
  overflow: hidden;
  background-color:var(--title-text-light-color);
}
.our-team-list{
  outline: none;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap:24px;}


.our-team-item{
  width:calc((100% - 48px) / 3);
}

.card-content{
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 16px;
  padding-left: 16px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
background:var(--title-text-light-color);
}


.our-team-name{
  font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--title-text-color);
text-align: center;}



.our-team-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--description-text-color);
text-align: center;
margin-bottom: 8px;
margin-top: 8px;
}
.our-team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  
}

.our-team-soc-item{
  width: 40px;
  height: 40px;
}

.our-team-soc-link{
  width: 100%;
  height: 100%;
  background-color:var(--primery-brand-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center; 
} 
.our-team-soc-link:hover,
.our-team-soc-link:focus{
  background-color: var(--primery-brand-color-dark);
}
 .our-team-soc-icon{
  fill:var(--body-background-color);
 }
 
 /* Customers */

 .customers{
  padding-top: 130px;
  padding-bottom: 120px;
 }
.customers-title{
margin-bottom: 72px;
font-weight: 700;
font-size: 36px;
line-height:calc(40/36);
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42
}
 .customers-list{
  display: flex;
  gap:24px;
 }
 .customers-item{
  width: calc((100% - 48px) / 6);
 }
.customers-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border:1px solid#8E8F99;
  border-radius: 4px;
} 
.customers-link:hover,
.customers-link:focus{
  border-color: var(--primery-brand-color);
}
.customers-link:hover .customers-icon,
 .customers-link:focus .customers-icon{ 
  fill:var(--primery-brand-color);
}
  .customers-icon{
    fill:#AFB1B8;
  }

.p {
  font-size: 20px;
}
.portfolio{
  padding-top:96px ;
  padding-bottom:120px ;
  
}
.portfolio-nav{
 margin-bottom: 72px;
}

.portfolio-btn-list{

  display:flex;
  gap:24px;
  justify-content: center;
  
}


.portfolio-btn{ 
font-weight: 700;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
cursor: pointer;
padding-top: 96px;
border: none;
padding: 12px 24px;
letter-spacing: 0.04em;
border-radius: 4px;
 background-color: #E7E9FC; 
 color: var(--primery-brand-color); 
 margin-bottom: 72px;


 }
  
.portfolio-btn:hover,
.portfolio-btn:focus { 
color:var(--title-text-light-color);
background:var(--primery-brand-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-content-portfolio{
  
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right:16px;
  padding-left: 16px;
  border: 1px solid #E7E9FC;
  border-top: none;

}

.portfolio-list{
  display: flex;
  flex-wrap: wrap;
  gap:24px;
  row-gap:48px;

}

.portfolio-list {
    flex-basis: calc((100% - 48px)/ 3);
 }
 
.portfolio-item{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.portfolio-item:hover,
.portfolio-item:focus
{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-title{
font-weight: 700;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--title-text-color);
margin-bottom: 8px;
}
.portfolio-text{

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--description-text-color);
}

 /* Footer */

.footer{

padding-top: 100px;
padding-bottom: 100px;
background: var(--title-text-color);
}
.logo-footer{
  color:var(--title-text-light-color);
  font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: calc(24/18);
margin-top: 100px;
text-transform: uppercase;
}
.footer-text{
  font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--title-text-light-color);
width: 264px;
margin-top: 16px;
}
.footer-box{
  display:flex;
  justify-content: start;
  gap:120px;
}
.media{
  font-size: 16px;
font-weight: 500;
letter-spacing: 0.02em;
line-height: 1.5;
color: var(--title-text-light-color);
/* margin-right: 120px; */
}
.media-list{ 
  display: flex;
  gap: 16px;
  margin-top: 16px;
  padding:0;
}

  

.media-link{
  width: 40px;
  height: 40px;
  background-color:rgb(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center; 
fill:#AFB1B8;

}

 .media-link:hover,
.media-link:focus
{
  background-color: var(--success-messages);
} 

.footer-icon{
  fill:var(--body-background-color);

}
