
  :root{
    --primery-brand-color:#4D5AE5;
    --primery-brand-color-dark:#404BBF;
    --success-messages:#31D0AA;
    --title-text-color: #2E2F42;
    --description-text-color: #434455;
    --title-text-light-color: #FFFFFF;
    --body-background-color: #f5f5f5;
    --icons-bcg-color: #F4F4FD;
    --modal-background:#FCFCFC;
    /* shadows */
    --card-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);   
    --head-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    --hero-btn-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    --modal-shadow:0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;}


    body {
     font-family: 'Roboto', sans-serif;
     background-color: var(--title-text-light-color);
    }

     .container {
      margin-left: auto;
      margin-right: auto;
      width: 1158px;
      padding-left: 15px;
      padding-right: 15px;
      margin: 0 auto;
    }
    img{
      display: block;
      max-width: 100%;
      height: auto;}
     
*{
  box-sizing: border-box;
}

.link{
  text-decoration: none;
 }
.list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.nav-list{
  display: flex;
  margin-left: 78px;
}
  
  .header{
   border-bottom: 1px solid #E7E9FC;
   box-shadow:var(--head-shadow);
  }
  .main-nav{
   display:flex;
   align-items:center; 
   justify-content: center;
  }

  .header{
   padding-top: 24px;
   padding-bottom: 24px; }


.logo{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: calc(24/18);
color:var(--title-text-color);
text-transform: uppercase;
}

.first-part-logo{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 1.3;
color:var(--primery-brand-color);
}

.nav-link{
width: 48px;
height: 24px;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--title-text-color);
 display: inline; 
 padding-top: 24px;
 padding-bottom: 24px;
 position: relative;
 transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.nav-link:hover,
.nav-link:focus,
.nav-link.current::after { 
  color: var(--primery-brand-color);
}
.nav-list .nav-link:active{
color:var(--primery-brand-color);
}

.nav-list .nav-link.current{
  color:var(--primery-brand-color-dark);
}
 .nav-link.current::after{

  content:'';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--primery-brand-color-dark);
  border-radius: 2px;
  position:absolute;
  bottom:-4px;
  left:0;
}

.nav-item{
 outline:1px;
 margin-right: 40px;
 display: block;

 
}

.nav-item:last-child{
  margin-right: 0;
}

.nav-list-cn{
 display:flex;
 margin-left: auto;
}
.nav-list-cn +.item+ .item{
  margin-left: 40px;
}
.nav-mailto{
  outline:1px solid ;
  margin-right: 40px;
  background:var(--primery-brand-color);
  
}
.header-em{

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color:var(--description-text-color);
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 .header-tel{

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color:var(--description-text-color);
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 
 .header-em:hover,
 .header-em:focus {
  color:var(--primery-brand-color);
 }
 .header-tel:hover,
 .header-tel:focus {
  color:var(--primery-brand-color);
 }

 .hero {
  padding-top: 192px;
  padding-bottom: 192px;
  background: var(--title-text-color);
  text-align: center;
  background-image:linear-gradient(to right,rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),
  url(../img/hero-image/people-office\ 1\ \(2\).jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  margin: auto;
  max-width: 1440px;
  height: 600px;
 }

.overlay{
  max-width: 1600px;
  height: 600px;
  outline: 1px solid black;
}

 .hero-title{
  color:var(--title-text-light-color);  
  font-weight: 600;
  font-size: 54px;
  line-height: calc(60/56);
  letter-spacing: 0.02em;
  width: 492px;

  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  
 }
 .hero-btn{
  
font-weight: 500;
font-size: 16px;
line-height:calc(19/16) ;
letter-spacing: 0.04em;
border-radius: 4px;
cursor: pointer;
display:inline-block;
background-color: var(--primery-brand-color);
color:var(--title-text-light-color);
padding:16px 32px;
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus{
  background-color:var(--primery-brand-color-dark) ;
  box-shadow:var(--hero-btn-shadow);
}

 /* Benefits */

 .benefits {
  padding-top: 120px;
  padding-bottom: 120px;
 }
 .benefits-list {
  display: flex;
  gap: 24px;
 
 
 }
 .benefits-wrap{
  display:flex;
  height: 112px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color:var(--icons-bcg-color);
  
 }
 .benefits-icon{
  position: relative;
 }

 .benefits-item{
  width: calc((100% - 72px) / 4);
 }
 .benefits-text{
  margin-top: 8px;
 }
 .benefits-title{
  margin-top: 8px;
 margin-bottom: 8px;
font-weight: 700;
font-size: 20px;
line-height: calc(24/20);
letter-spacing: 0.02em;
color:var(--title-text-color);

 }

.benefits-text{
  font-weight: 400;
font-size: 16px;
line-height:calc(24/16);
letter-spacing: 0.02em;
color: var(--description-text-color);
width: 264px;
}


.examples{
 
   padding-bottom: 120px; 
}

.examples-list{
  display: flex;
  align-items:center; 
   justify-content: center;

}
.examples-list .examples-item + .examples-item {
  margin-left: 24px;
}
.examples-title{
font-weight: 700;
font-size: 36px;
line-height:40px;
text-align: center;
letter-spacing: 0.02em;
color: var(--title-text-color);
margin-bottom: 72px;


}
/* Our-team */

.our-team{
  padding-top: 120px;
  padding-bottom: 120px;
  background:var(--icons-bcg-color);
}
.our-team-title{
  font-weight: 700;
  font-size: 36px;
  line-height:calc(40/36);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;

}

/* CARD-SET */
.card{
  box-shadow: var(--card-shadow);
 border-radius:  0px 0px 4px 4px;
  overflow: hidden;
  background-color:var(--title-text-light-color);
}
.our-team-list{
  outline: none;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap:24px;}


.our-team-item{
  width:calc((100% - 48px) / 3);
}

.card-content{
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 16px;
  padding-left: 16px;
  box-shadow:var(--card-shadow);
border-radius: 0px 0px 4px 4px;
background:var(--title-text-light-color);
}


.our-team-name{
  font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--title-text-color);
text-align: center;}



.our-team-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--description-text-color);
text-align: center;
margin-bottom: 8px;
margin-top: 8px;
}
.our-team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  
}

.our-team-soc-item{
  width: 40px;
  height: 40px;
}

.our-team-soc-link{
  width: 100%;
  height: 100%;
  background-color:var(--primery-brand-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center; 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
.our-team-soc-link:hover,
.our-team-soc-link:focus{
  background-color: var(--primery-brand-color-dark);
}
 .our-team-soc-icon{
  fill:var(--body-background-color);
 }
 
 /* Customers */

 .customers{
  padding-top: 130px;
  padding-bottom: 120px;
 }
.customers-title{
margin-bottom: 72px;
font-weight: 700;
font-size: 36px;
line-height:calc(40/36);
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42
}
 .customers-list{
  display: flex;
  gap:24px;
 }
 .customers-item{
  width: calc((100% - 48px) / 6);
 }
.customers-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border:1px solid#8E8F99;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
  
.customers-link:hover,
.customers-link:focus{
  border-color: var(--primery-brand-color);
}
.customers-link:hover .customers-icon,
 .customers-link:focus .customers-icon{ 
  fill:var(--primery-brand-color);
}
  .customers-icon{
    fill:#AFB1B8;
    transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.p {
  font-size: 20px;
}
/* Portfolio */

.portfolio{
  padding-top:96px ;
  padding-bottom:120px ;
}
 .portfolio-top-wrap{
position: relative;
overflow: hidden;
}


.portfolio-link-wrapper{
  display:block;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img {
  position: relative;
}

.portfolio-top-text{
  font-weight: 400;
  font-size: 16px;
  line-height:calc(24/16);
  letter-spacing: 0.02em;
  color:#F4F4FD;
  padding: 40px;
  background-color: rgba(77, 90, 229, 0.900); 
  height: 100%;
  width: 100%;
  z-index: 3;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
 

}
.portfolio-link-wrapper:hover .portfolio-top-text,
.portfolio-link-wrapper:focus .portfolio-top-text
{
  transform:translateY(0);
}

.portfolio-thumb{
  position:relative;
  overflow: hidden;
}

.portfolio-overlay{
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color:  rgba(77, 90, 229, 0.900); 
  transform:translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-nav{
 margin-bottom: 72px;
}

.portfolio-btn-list{

  display:flex;
  gap:24px;
  justify-content: center;
  
}

.portfolio-btn{ 
font-weight: 700;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
cursor: pointer;
padding-top: 96px;
border: none;
padding: 12px 24px;
letter-spacing: 0.04em;
border-radius: 4px;
 background-color: #E7E9FC; 
 color: var(--primery-brand-color); 
 margin-bottom: 72px;
 transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow  250ms cubic-bezier(0.4, 0, 0.2, 1),background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


 }
  
.portfolio-btn:hover,
.portfolio-btn:focus { 
color:var(--title-text-light-color);
background-color:var(--primery-brand-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-content-portfolio{
  
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right:16px;
  padding-left: 16px;
  border: 1px solid #E7E9FC;
  border-top: 0;
  background-color:var(--title-text-light-color);
  position: relative;
  z-index: 10;
 

}

.portfolio-list{
  display: flex;
  flex-wrap: wrap;
  gap:24px;
  row-gap:48px;

}

.portfolio-list {
    flex-basis: calc((100% - 48px)/ 3);
 }
 
.portfolio-item{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.portfolio-item:hover,
.portfolio-item:focus
{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


.portfolio-title{
font-weight: 700;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--title-text-color);
margin-bottom: 8px;
}
.portfolio-text{

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--description-text-color);
}

 /* Footer */

.footer{

padding-top: 100px;
padding-bottom: 100px;
background: var(--title-text-color);
}
.logotype{
  margin-right:120px;
}
.logo-footer{
  color:var(--title-text-light-color);
  font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: calc(24/18);
margin-top: 100px;
text-transform: uppercase;
}
.footer-text{
  font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--title-text-light-color);
width: 264px;
margin-top: 16px;
}
.footer-box{
  display:flex;
  justify-content: start;
  
}
.social{
  margin-right: 80px;
}
.media{
  font-size: 16px;
font-weight: 500;
letter-spacing: 0.02em;
line-height: 1.5;
color: var(--title-text-light-color);
}
.media-list{ 
  display: flex;
  gap: 16px;
  margin-top: 16px;
  padding:0;
}
.media-link{
  width: 40px;
  height: 40px;
  background-color:rgb(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center; 
fill:#AFB1B8;
transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-link:hover,
.media-link:focus
{
  background-color: var(--success-messages);
} 


.footer-icon{
  fill:var(--body-background-color);

}
 .visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0); 
}
/* SUBSCRIBE */
.footer-container-subscribe{
  display: inline;
  width:456px ;
  height: 80px;
}

.subscribe-text {
	
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
  color:var(--title-text-light-color);
	 margin-bottom: 16px; 

}
.subscribe-form-input {

	background: #2E2F42;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
  width:264px;
height:40px;
padding-left: 16px;
color:rgba(255,255,255,0.6);

}
.subscribe-form{
  display: flex;
}

.button-subscribe {
  display: flex;
	position: relative;
	width: 165px;
	height: 40px;
	padding: 8px 24px; 
   margin-left: 24px;
	border-radius: 4px;
  align-items: center;
	justify-content: center;
  border: 0;
	background-color:var(--primery-brand-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	color:var(--title-text-light-color);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}


.button-subscribe:hover,
.button-subscribe:focus{
  background-color:var(--primery-brand-color-dark) ;
  box-shadow:var(--hero-btn-shadow);
}

.footer-icon-sub {
	margin-left: 16px;
  fill:var(--title-text-light-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-sub:focus,
.footer-icon-sub:hover{
  fill:var(--title-text-light-color);
}


/* MODAL*/

 .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
   z-index: 101; 
   
} 

.modal {
  position: absolute;
  top: 80px;
  left: 50%;
  width: 408px;
  min-height: 584px;
  background-color:var(--modal-background);
  box-shadow:var(--modal-shadow);
  border-radius: 5px;
  transform: translate(-50%, 0) scaleX(1) rotate(0);
 transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 padding: 72px 24px 24px 24px;


}
.modal-close-icon{
  fill:black;
  justify-content: center;
  align-items: center;
  transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}


.backdrop.is-hidden .modal {
  transform:translate(-50%, -50%) scaleY(1.4) rotate(-360deg);
}

.modal-close {
 position: absolute;
  top: 24px;
  right: 24px; 
  display: flex;
 justify-content: center;
 align-items: center;
  width: 24px;
  height: 24px;  
  border-radius: 50%;
  background-color: #E7E9FC;
 border: 1px solid rgba(0, 0, 0, 0.1);
 padding: 0;
 transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 cursor: pointer;
}

.modal-close:hover,
.modal-close:focus{
border-color:1px solid rgba(0, 0, 0, 0.1);
background:var(--primery-brand-color-dark);
}
.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon
 {
  fill:var(--title-text-light-color);
}

 .is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/* Modal form TEXT */
.modal-form-main-text{
  display:flex;
  flex-direction: column;
}
/* Modal form */

.modal-form{
display: flex;
flex-direction: column;
}

.modal-title{
  
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 14px;
}
 .modal-field{
  margin-bottom: 8px;
} 
.modal-form-input-desc{
  display:block;
  font-weight: 400;
font-size: 12px;
line-height: 1.16;
margin-bottom:4px;

color: #8E8F99;
}
.modal-form-input-desc:first-child{
margin-top:0;
}
.modal-form-input{
  width: 100%;
  height: 40px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
  padding-left: 38px;
 background-color: transparent;
 transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 font-size: 12px;
 line-height: 16px;
 letter-spacing: 0.04em;
 color:#000000;
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--primery-brand-color);
}

.modal-form-input:focus + .input-icon {
  fill: var(--primery-brand-color);
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 19px;
  top: 50%;
  transform: translateY(-50%);
  fill:#2E2F42;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-coment {
  width: 100%;
  height: 100px;
  border: 1px solid #999999;
  border-radius: 5px;
  background-color: transparent;
  outline: none;
  padding: 10px;
  resize: none;
}


.modal-form-comment{
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-comment:focus{
  outline: none;
  border-color:var(--primery-brand-color);
}
.modal-form-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height:calc( 16 / 12);
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
  
}
.modal-form-check-desc{
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.04em;
  color: #757575;
  margin-bottom: 24px;
  margin-top: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-check-desc::before{
display: block;
content:"";
width: 16px;
height: 16px;
border: 1.25px solid #2E2F42;
border-radius: 2px;
cursor: pointer;
margin-right: 10px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-checkbox:checked + .modal-form-check-desc::before{
  background-image: url(../img/icons/checkt.svg);
  background-repeat:no-repeat;
   align-items: center;
  justify-content: center; 
  background-position: 50% 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-checkbox:focus + .modal-form-check-desc::before{
  border: 1.25px solid var(--primery-brand-color-dark);
  background-color:var(--primery-brand-color-dark);
  background-image: url(../img/icons/checkt.svg);
  background-repeat:no-repeat;
  background-position: 50% 50%;
  border-radius: 2px;
}
 .modal-form-submit{
  align-self: center;
width: 169px;
height: 56px;
line-height:calc(19/16) ;
letter-spacing: 0.04em;
border-radius: 4px;
cursor: pointer;
display:inline-block;
background-color: var(--primery-brand-color);
color:var(--title-text-light-color);
padding:16px 32px;
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-submit:hover,
.modal-form-submit:focus{
  background-color:var(--primery-brand-color-dark) ;
  box-shadow:var(--hero-btn-shadow);
}











